@if (isLoading$ | async) {
  <div class="loading-overlay">
    <mat-spinner diameter="50"/>
  </div>
}

<div class="container gap-5 d-flex flex-column p-5">
  <div class="d-flex align-items-center column-gap-3">
    <mat-form-field class="w-100" subscriptSizing="dynamic">
      <mat-label>Enter exchange pair</mat-label>

      <input matInput [formControl]="exchangePair"/>

      @if (exchangePair.hasError('required')) {
        <mat-error>This field is required</mat-error>
      }

      @if (exchangePair.hasError('pattern')) {
        <mat-error>Wrong format</mat-error>
      }

    </mat-form-field>

    <button mat-flat-button [disabled]="exchangePair.invalid" (click)="subscribeForEvents()">SUBSCRIBE</button>
  </div>

  <div class="d-flex flex-column gap-3">
    <mat-card-title>Market data:</mat-card-title>

    <mat-card>
      <mat-card-content class="d-flex justify-content-between px-5">
        <div class="d-flex flex-column align-items-center">
          <mat-card-title>Symbol:</mat-card-title>

          <mat-card-subtitle>Market data:</mat-card-subtitle>
        </div>

        <div class="d-flex flex-column align-items-center">
          <mat-card-title>Price:</mat-card-title>

          <mat-card-subtitle>Market data:</mat-card-subtitle>
        </div>

        <div class="d-flex flex-column align-items-center">
          <mat-card-title>Time:</mat-card-title>

          <mat-card-subtitle>Market data:</mat-card-subtitle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="chart-container">
        <canvas #chartCanvas></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>



