@if ({
  isLoading: isLoading$ | async,
  exchangeRatesArePresent: exchangeRatesArePresent$ | async,
  lastExchangeRate: lastExchangeRate$ | async
}; as data) {

  @if (data.isLoading) {
    <div class="loading-overlay">
      <mat-spinner diameter="50"/>
    </div>
  }

  <div class="container gap-5 d-flex flex-column p-5">
    <div class="d-flex align-items-center column-gap-3">
      <mat-form-field subscriptSizing="dynamic" class="flex-grow-1">
        <mat-label>Enter exchange pair</mat-label>

        <input matInput [formControl]="exchangePairControl"/>

        @if (exchangePairControl.hasError('required')) {
          <mat-error>This field is required</mat-error>
        }

        @if (exchangePairControl.hasError('pattern')) {
          <mat-error>Wrong format</mat-error>
        }
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="flex-grow-1">
        <mat-label>Period</mat-label>

        <mat-select [formControl]="periodControl">
          @for (key of PeriodsEnum | keyvalue: sortPeriodFunc; track key.key) {
            <mat-option [value]="key.value">{{key.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-flat-button [disabled]="exchangePairControl.invalid" (click)="subscribeForEvents()">SUBSCRIBE</button>
    </div>

    <div class="d-flex flex-column gap-3">
      <mat-card-title>Market data:</mat-card-title>

      <mat-card>
        <mat-card-content class="d-flex justify-content-between px-5">
          <div class="d-flex flex-column align-items-center">
            <mat-card-title>Symbol:</mat-card-title>

            <mat-card-subtitle>{{ exchangePair() }}</mat-card-subtitle>
          </div>

          <div class="d-flex flex-column align-items-center">
            <mat-card-title>Price:</mat-card-title>

            <mat-card-subtitle>{{ data.lastExchangeRate?.value | currency: currencyCode() }}</mat-card-subtitle>
          </div>

          <div class="d-flex flex-column align-items-center">
            <mat-card-title>Time:</mat-card-title>

            <mat-card-subtitle>{{ data.lastExchangeRate?.date | date: displayDateFormat }}</mat-card-subtitle>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-content>
        <div class="chart-container d-flex justify-content-center align-items-center">
          <canvas #chartCanvas [hidden]="!data.exchangeRatesArePresent"></canvas>
          @if (!data.exchangeRatesArePresent) {
            <mat-card-subtitle>There are no data to display</mat-card-subtitle>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}
